{% extends 'inicio/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'inicio/css/eventos.css' %}">
{% endblock %}

{% block content %}

<!-- HEADER -->
<div class="page-header">
    <h1>Eventos Gratuitos</h1>
    <p>Actividades diseñadas para adultos mayores</p>
</div>

<div class="section">

    <div class="subsection-title">
        Próximos Eventos
    </div>

    <div class="cards-grid">

        {% for evento in eventos %}
        <div class="event-card">

            <div class="card-img">
                📅
                <span class="card-badge">Gratuito</span>
            </div>

            <div class="card-body">

                <div class="card-date">
                    {{ evento.fecha }}
                </div>

                <div class="card-title">
                    {{ evento.nombre }}
                </div>

                <div class="card-desc">
                    {{ evento.descripcion|truncatewords:15 }}
                </div>

                <!-- CUP0 -->
                <div class="card-meta">
                    👥 {{ evento.inscritos }} / {{ evento.cupo_maximo }}
                </div>

                <div class="card-footer">

                    <span class="card-meta">
                        📍 {{ evento.lugar }}
                    </span>

                    {% if evento.inscritos >= evento.cupo_maximo %}
                        <span class="tag lleno">Lleno</span>
                    {% else %}
                        <span class="tag disponible">Disponible</span>
                    {% endif %}

                </div>

                <a class="btn btn-green"
                   href="{% url 'detalle_evento' evento.id %}">
                   Ver detalle
                </a>

            </div>

        </div>
        {% empty %}
        <p>No hay eventos disponibles</p>
        {% endfor %}

    </div>

</div>

{% endblock %}