{% extends 'inicio/base.html' %}

{% block content %}

<h2>Nuestros Servicios</h2>

<div class="servicios">

    <div class="card">
        <h3>Yoga para adultos mayores</h3>
        <p>Ejercicios suaves para mejorar flexibilidad.</p>
    </div>

    <div class="card">
        <h3>Caminatas guiadas</h3>
        <p>Actividad física ligera en grupo.</p>
    </div>

    <div class="card">
        <h3>Taller de salud</h3>
        <p>Charlas sobre bienestar y hábitos saludables.</p>
    </div>

</div>

{% endblock %}