.login-wrapper{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#2E86AB,#04577a);
}

.login-card{
background:white;
padding:40px;
width:360px;
border-radius:12px;
box-shadow:0 20px 40px rgba(0,0,0,0.15);
text-align:center;
animation:fadeIn .5s ease;
}

.login-logo h1{
font-size:50px;
margin:0;
color:#2E86AB;
}

.login-logo p{
margin-top:-5px;
margin-bottom:20px;
color:#666;
}

.input-icon{
display:flex;
align-items:center;
border:1px solid #ccc;
border-radius:6px;
padding:10px;
margin-bottom:15px;
}

.input-icon span{
margin-right:10px;
font-size:18px;
}

.input-icon input{
border:none;
outline:none;
width:100%;
font-size:14px;
}

.login-btn{
width:100%;
padding:12px;
border:none;
border-radius:6px;
background:#2E86AB;
color:white;
font-size:15px;
cursor:pointer;
}

.login-btn:hover{
background:#096186;
}

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(10px);
}
to{
opacity:1;
transform:translateY(0);
}
}